.navbar {
    background-color: #F58220 ;
}

/* Hover effect khi đưa chuột vào */
.nav-item:hover {
    background-color: lightyellow;
    color: black;
}
h2 {
    color: darkred;
}
/* Nền màu be */
body {
    background-color: white;
}
img:hover{
    background-color: lightyellow;
}
.footer{
    background-color: #F58220;
}
/* Định dạng cho sidebar */
#sidebar {
    position: fixed;
    overflow-y: auto; /* Thêm thanh cuộn nếu nội dung vượt quá kích thước */
}


