input[type="file"] {
    display: none;
}
.border-content {
    background: lightyellow;
    border-radius: 20px;
    margin: 20px;
    box-shadow: 0 4px 6px rgb(0 0 0 / 36%);
    transition: box-shadow 0.3s ease;
}
.form-content {
    padding: 20px;
}
.btn-green {
    background: #26B24B;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 6px 12px;
}
.btn-green:hover {
    background: #1f8c3b;
    color: white;
}
.btn-orange {
    background: #F58220;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 6px 12px;
}
.btn-orange:hover {
    background: #cc6d1b;
    color: white;
}
.header-form{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    padding-bottom: 1px;
}
.header-form::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 180px;
    border-radius: 5px;
    background: linear-gradient(135deg,  #F2984A, #D86806);
}
.background-image {
    background-image: url("../img/bg-image.png");
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center center;
}
.error-message {
    color: red;
}
.form-err {
    color: red;
    font-weight: 500;
}
th, td {
    word-wrap: break-word; /* Sử dụng 'overflow-wrap' nếu cần */
  }

.dropdown-item:active {
    background-color: grey;
}

.btn-green {
    background: #26B24B;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 6px 12px;
}
.btn-green:hover {
    background: #1F8C3B;
    color: white;
}
.btn-orange {
    background: #F58220;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 6px 12px;
}
.btn-orange:hover {
    background: #CC6D1B;
    color: white;
}
.loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
.input-form {
    height: 120px;
}
.form-label {
    font-weight: bold;
}

#dropdownMenuButton1 {
    /*border-radius: 8px;*/
    width: 100px;
    background-color: #26B24B;
    border: #26B24B;
    margin-bottom: 10px;
}

#dropdownMenuButton2 {
    background-color: #26B24B;
    border: #26B24B;
    height: 36px;
}

.dropdown-item {
    cursor: pointer;
}

.dropdown-menu {
    --bs-dropdown-link-active-bg: grey;
}

#nav21:hover {
    background-color: lightyellow;
}

#nav21.active {
    background-color: lightyellow;
    color: #F58220;
}

#cardmb4:hover{
    background-color: #f58220;
    color: white;
}
#div21 img{
    width: 100%;
    height: 100%;
}
#div21{
    width: 318px;
    height: 320px;
}
#sidebar21 {
    position: sticky;
    top: 0; /* Điểm cố định từ đỉnh trang */
    width: 200px; /* Độ rộng của thanh bên */
    height: 55vh; /* Chiều cao của thanh bên, 100% của chiều cao của viewport */
    overflow-y: auto; /* Thêm thanh cuộn nếu nội dung vượt quá kích thước */

}
#imgitem {

    background-color: #f0f0f0; /* Màu nền của thanh bên */
    padding: 10px; /* Khoảng cách đệm bên trong thanh bên */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Đổ bóng cho thanh bên */
    z-index: 200; /* Đặt độ sâu Z để đảm bảo nó hiển thị trên các phần tử khác */
}
#myFooter {
    /* CSS styles for the <footer> element with ID "myFooter" */
    background-color:lightyellow;
    color: black;
    padding: 20px;
    text-align: center;
    /* Thêm các thuộc tính CSS khác cần thiết */
  }

.label {
    font-weight: bold;
}

#row21{
    margin-top: 20px ;
}
#error21{
    color: red;
}


.label {
    font-weight: bold;
}

